.mail-preview-container {
    background-color: white;
    width: 95%;
    justify-content: flex-start;
    border-bottom: solid thin lightgray;
}

.mail-preview-container:hover {
    box-shadow: 2px 4px 6px 0px;
    margin-bottom: 4px;
}

.preview-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    background-color: white;

    padding: 15px;

}

.star:hover {
    background-color: rgb(101, 101, 105);
    border-radius: 50%;
    opacity: 0.4;
    transition: background-color 1s;
}

.star img {
    width: 5vh;
}

.email-detail {
    width: 45%;
}

.small-detail {
    width: 10%;
}