.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.grid {
    display: grid;
}

.bold-font {
    font-weight: 600;
}

.span-margin {
    margin: 5px;
}

.font-gray {
    color: rgb(71, 68, 68);
}